
.comment-class {
    background-repeat: no-repeat;
    /* No repeating */
    background-repeat: repeat;
    /* Default, repeats both horizontally & vertically */
    background-repeat: repeat-x;
    /* Repeats horizontally */
    background-repeat: repeat-y;
    /* Repeats vertically */



    background-size: cover;
    /* Covers the entire element, maintaining aspect ratio */
    background-size: contain;
    /* Fits inside the element, maintaining aspect ratio */
    background-size: 100% 100%;
    /* Stretches the image to fill the element */
    background-size: auto;
    /* Uses the image's original size */
    background-size: 50px 100px;
    /* Width = 50px, Height = 100px */



    background-position: center;
    /* Centers the image */
    background-position: top left;
    /* Aligns the image to the top-left */
    background-position: 50% 50%;
    /* X (horizontal) and Y (vertical) position in percentages */
    background-position: 20px 30px;
    /* X (horizontal) and Y (vertical) position in pixels */



    background-attachment: fixed;
    /* The background stays fixed while scrolling */
    background-attachment: scroll;
    /* Default, the background scrolls with the content */
    background-attachment: local;
    /* Moves with the element's content */




    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    background-blend-mode: multiply;
    /* Blends with the background color */
    background-blend-mode: overlay;
    background-blend-mode: darken;



    background: url('img/2nd-footer-bg.png') no-repeat center/cover fixed;

    background-image: url('img/2nd-footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.pop-up-card{
    position: fixed;
    bottom: 20px;
    right: 20px;

    box-shadow: 0px 0px 15px lightgray;

    border-radius: 10px;

    background-color: #f1f7f9;
    padding: 17px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 15px;

    width: 350px;
    height: fit-content;

    svg{
        width: 15px;
    }
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;

    img{
        width: 20px;
    }
}
.better-go-to-app-header{
    width: 100%;

    display: flex;
    justify-content: space-between;
    p{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;

    }
}
.better-go-to-app-center{
    p{
        color: rgb(82, 82, 82);
    }
    p:first-child{
        font-weight: 700;
    }
    p:last-child{
        font-size: 15px;
        font-weight: 300;
    }
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width:600px) {
   .pop-up-card{
    display: none;
   }
}