body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

main {
    box-sizing: border-box;
    height: 100%;
    /* background-color: green; */
}

.hero-section {
    margin: auto;
    padding: 5em 5em 0px;

    width: 1350px;

    display: flex;
    justify-content: space-between;
    /* gap: 15rem; */

    box-sizing: border-box;
}

.hero-left {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.hero-right{
    width: 55%;
}
.hero-right>svg {
    width: 100%;
    position: relative;
    /* left: 40%; */
}
.hero-main-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;

    gap: 10px;
}
.hero-left p{
    color: rgb(104, 104, 104);
    font-size: calc(0.8rem);
    width: 100%;
    text-align:center;
}
.hero-left>p:first-child {
    padding: 0px 0px 1rem;

    font-size: calc(2rem + 1vw);

    color: rgb(104, 104, 104);
    text-align: start;
}
.hero-left>p:last-child{
    font-size: calc(1rem);
}
.hero-left p > a{
    color: var(--dull-accent-color);
    font-weight: 500;
}
.hero-left p > a:hover{
    text-decoration: underline;
}
@media screen and (max-width:1155px) {
    .hero-section{
        width: 100%;

    }


}
@media screen and (max-width:800px) {
    .hero-section{
        flex-direction: column;
        align-items: center;

        padding: 5rem 1.5rem 0px;
    }
    .hero-left .hero-main-links p{
        font-size: calc(0.7rem + 0.2vw);
    }
    .hero-left>p:first-child {
        text-align: center;
    }
    .hero-left{
        width: 90%;
    }
    .hero-right{
        width: 90%;
    }

}