.inner-main {
    margin: 15px auto;
    width: fit-content;
    max-width: 1200px;
    height: 200vh;
    /* background-color: green; */

    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}

.main-left {
    z-index: -1;
    position: relative;

    border-radius: 10px;

    min-width: 210px;

    display: flex;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.card {
    border-radius: 10px;
    background-color: white;

    padding: 15px 0px;
    cursor: pointer;
    border: 1px solid rgb(224, 224, 224);
}

.left-main-card {
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    box-sizing: border-box;
    /* height: 170px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 0px 0px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.main-left img {
    width: 100%;
}

.main-left img:nth-child(2) {
    width: 70px;
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.main-left .info {
    background-color: white;
    border: none;
    /* text-decoration: underline;  */
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.main-left .info:hover {
    text-decoration: none;
}

.info h2 {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(56, 56, 56);
    cursor: pointer;
    /* text-decoration: underline; */
}

.info h2:hover {
    text-decoration: none;
}

.info p {
    font-size: 11px;
    text-transform: capitalize;
    font-weight: 400;
    /* text-decoration: underline; */
    cursor: pointer;
    color: rgb(48, 48, 48);
    font-weight: 500;
}

.info .address {
    color: rgb(131, 131, 131);
    font-weight: 400;
}


.info p:hover {
    text-decoration: none;
}

.allumini {
    display: flex;
    align-items: center;
    gap: 10px;


    img {
        height: 20px;
        width: auto;
    }

    p {
        font-weight: 600;
    }
}

.left-sec-card {
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: 15px 15px;
    cursor: pointer;
    border: 1px solid rgb(224, 224, 224);
}

.left-sec-card p {
    font-size: 12px;
    font-weight: 600;
    color: rgb(53, 53, 53);
}

.left-sec-card p:nth-child(2) {
    color: var(--primary-color);
    justify-self: end;
}

.left-sec-card p:last-child {
    grid-column: 1/3;
    color: rgb(116, 116, 116);
}

.left-sec-card:hover {
    text-decoration: underline;
}

.left-sec-card-2 {
    border-radius: 10px;
    background-color: white;

    padding: 15px 15px;
    cursor: pointer;
    border: 1px solid rgb(224, 224, 224);

    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;

    p {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    p:first-child:hover {
        text-decoration: underline;
        /* text-decoration: none; */
    }

    img {
        width: 15px;
    }
}

.left-last-card {
    border-radius: 10px;
    background-color: white;

    padding: 15px 15px;
    cursor: pointer;
    border: 1px solid rgb(224, 224, 224);

    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
    font-weight: 500;

    svg {
        width: 0.8rem;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item:hover {
    text-decoration: underline;
}





.main-center {
    padding: 0px 10px;
    flex-grow: 1;
    /* background-color: white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center-head {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px 10px;
}

.head-head {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    img {
        width: 50px;
        border-radius: 50%;
    }

    input {
        flex-grow: 1;
        border-radius: 50px;
        padding: 0px 20px;
        border: 1px solid rgb(197, 197, 197);
        cursor: pointer;
        transition: 300ms;
        font-weight: 500;
        font-family: "Roboto", serif;
    }

    input:hover {
        background-color: rgb(240, 240, 240);
    }
}

.head-bottom {
    margin: 0px auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-icon {
    border-radius: 5px;
    padding: 15px 15px;

    svg {
        width: 20px;
        height: auto;
    }

    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    color: rgb(104, 104, 104);
    transition: 300ms;
}

.head-icon:hover {
    background-color: rgb(241, 241, 241);
    color: rgb(87, 87, 87);
}

.head-icon:nth-child(2) {
    svg {
        width: 20px;
        fill: rgb(175, 114, 0);
    }
}

.head-icon:first-child {
    svg {
        fill: rgb(105, 105, 236);
    }
}

.head-icon:last-child {
    svg {
        fill: rgb(221, 90, 14);
    }
}

.head-content-divider {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    /* gap: 10px; */

    font-size: 13px;
    color: rgb(131, 131, 131);

    p:last-child {
        display: flex;
        align-items: center;
        gap: 3px;
        color: rgb(71, 71, 71);
        cursor: pointer;
    }
}

.bar {
    margin: 0px 10px;
    flex-grow: 1;
    height: 1px;
    /* width: 100px; */
    background-color: rgb(226, 226, 226);
}

.main-center .content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5px;
}

.post {
    padding: 0px;
}

.post-top {
    padding: 5px 10px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-top p {
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.post-top .buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.single-svg-btn {
    padding: 0px;

    height: 30px;
    width: 30px;

    border-radius: 50%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.single-svg-btn:hover {
    background-color: rgb(238, 238, 238);
}

.post-head {
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    justify-content: space-between;
}

.post-head .account {
    padding: 10px 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}

.account img {
    width: 60px;
    border-radius: 50%;
}

.account .account-info {
    width: 100%;
    flex-grow: 1;
}

.account-info .account-info-name {
    display: flex;
    align-items: center;
    gap: 5px;

    >p {
        font-family: "Roboto", serif;
    }

    >p:first-child {
        font-size: 17px;
        font-weight: 600;
    }

    >p:last-child {
        font-size: 12px;
    }
}

.title-n-time-ago {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.account-info .title {
    width: 400px;
    height: 17px;
    line-height: 1.5;
    overflow: hidden;
    color: rgb(145, 145, 145);
    font-size: 12px;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;

}

.account-info .time-ago {
    font-size: 12px;
    color: rgb(116, 116, 116);

    svg {
        width: 13px;
        fill: rgb(116, 116, 116);
    }

    display: flex;
    align-items: center;
    gap: 4px;
}

.account .buttons {
    .btn {
        border-radius: 3px;
        padding: 3px;
        display: flex;
        align-items: center;
        gap: 10px;
        /* border: 1px solid black; */
        color: #0a66c2;
    }

    .btn:hover {
        background-color: #0a66c218;
    }

    svg {
        width: 20px;
    }
}


.post-head .caption {

    /* width: 300px; */

    padding: 0px 20px;


    pre {
        font-size: 14px;
        color: rgb(58, 58, 58);
        text-wrap: wrap;
        font-family: "Roboto", serif;
        padding: 20px 0px;
    }
}

.post-head .hashtags {
    padding: 0px 20px;
    font-size: 14px;
    color: rgb(58, 58, 58);
    font-family: "Roboto", serif;

    .tags {
        margin: 20px 0px;
        display: flex;
        flex-wrap: wrap;
    }

    a {
        display: block;
        color: var(--primary-color);
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }

}

.post .actual-post {
    img {
        width: 100%;
    }
}

.post .likes-comments {
    padding: 0px 10px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-comments .left {
    display: flex;
    align-items: center;
    gap: 5px;
}
.left .icons{
    display: flex;
    align-items: center;
}
.left .count {
    font-size: 13px;
    color: rgb(92, 92, 92);
}

.count:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.likes-comments .right {
    display: flex;
    align-items: center;
    gap: 9px;

    p {
        font-size: 14px;
        color: rgb(92, 92, 92);
    }

    p:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }
}
.post .bottom{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.post-bottom-btn{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 3px;


    display: flex;
    align-items: center;
    gap: 10px;

    svg{
        width: 20px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 300ms;
    cursor: pointer;
}
.post-bottom-btn:hover{
    background-color: rgba(230, 230, 230, 0.479);
}
.main-right {
    max-width: 300px;
    min-width: 300px;
    /* background-color: white; */
    /* height: 500px; */

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-main-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.right-main-card .head {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.right-main-card .content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.content .game {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    svg {
        width: 10px;
    }
}

.content .game:hover {
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.game .game-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game .game-info-text {
    p {
        font-weight: 600;
        font-size: 15px;
    }

    p:last-child {
        font-weight: 400;
        font-size: 11px;
        color: rgb(131, 131, 131);
    }
}

.right-sec-card {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.right-sec-card .head {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 15px;
    }

    p {
        font-weight: 500;
    }

    padding-bottom: 15px;
}

.right-sec-card .content {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content .sugg-card {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    img {
        width: 60px;
        border-radius: 50%;
    }
}

.sugg-card .info {
    background-color: transparent;
    border: none;
}

.sugg-card .info p {
    font-size: 0.9rem;
}

.sugg-card .info .title {
    color: rgb(104, 104, 104);
    font-weight: 400;
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.btn-outline {
    padding: 3px 10px;
    display: flex;
    align-items: center;

    svg {
        width: 20px;
    }

    border: 1px solid rgb(104, 104, 104);
    transition: 300ms;
}

.btn-outline:hover {
    /* border: 1px solid rgb(48, 48, 48); */
    outline: auto black;
}

.recom-all {
    margin-top: 5px;
    padding: 4px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 15px;
    }

    border-radius: 20px;
}

.recom-all:hover {
    background-color: rgb(238, 238, 238);
}

.right-footer {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-footer .links {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    a {
        color: rgb(116, 116, 116);
        font-size: 12px;
    }

    a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }
}

.right-footer .footers-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    img {
        width: 70px;
    }

    font-size: 13px;
}
