@keyframes move {
    0%{
        transform: translateX(120px);
    }
    25%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(120px);
    }
    75%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(120px);
    }
}