.check-box {
    /* background-color: green; */
}

.check-box {
    padding: 5px;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    font-size: 13px;
}

.box {
    padding: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    /* aspect-ratio: 1/1; */
    border-radius: 3px;
    border: 1px solid gray;
    transition: 300ms;
    fill: white;

    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        display: none;
    }
}

.box-checked {
    background-color: #057642;
    border-color: #057642;
    svg{
        display: block;
    }
}