@media screen and (max-width:1320px) {

    .section-5-right {
        display: none;
    }

    .section-5 {
        flex-direction: column;
        justify-content: center;
    }

    .section-5-left {
        width: 100%;
        margin: 10px 0px;
    }
}

@media screen and (max-width:1220px) {
    .section-1 {
        padding: 0px 0rem 0px;
    }

    .section-1-wrapper {
        padding: 3rem 2rem 2rem;
    }

    .section-1-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .section-2 {
        .section-1-wrapper {
            gap: 2rem;
        }
    }

    .section-4 {
        .section-1-wrapper {
            align-items: flex-start;
        }
    }
    .section-6{
        p{
            width: 100%;
        }
    }
}

@media screen and (max-width:990px) {

    .section-1-wrapper {
        width: 100%;
        flex-direction: column;
    }


}
@media screen and (max-width:800px){
    .section-6{
        /* height: 300px; */
        background:none;
        p{
            font-size: 1.5rem;
            width: 100%;
        }

        padding: 30px 0px;
        aspect-ratio: inherit;
        
    }
}