@media screen and (max-width:1155px) {
    .hero-section{
        width: 100%;

    }


}
@media screen and (max-width:800px) {
    .hero-section{
        flex-direction: column;
        align-items: center;

        padding: 5rem 1.5rem 0px;
    }
    .hero-left .hero-main-links p{
        font-size: calc(0.7rem + 0.2vw);
    }
    .hero-left>p:first-child {
        text-align: center;
    }
    .hero-left{
        width: 90%;
    }
    .hero-right{
        width: 90%;
    }

}